AzureFileStorageLib/meta/EnumerationResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnumerationResults" type="EnumerationResultsType"/>
  <xs:complexType name="PropertiesType">
    <xs:sequence>
      <xs:element name="Content-Length">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="8845861"/>
            <xs:enumeration value="428669"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="openssl-1.1.1d.tar.gz"/>
            <xs:enumeration value="resultData.json"/>
            <xs:enumeration value="testFile.txt"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="PropertiesType" name="Properties"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DirectoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Properties"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntriesType">
    <xs:sequence>
      <xs:element type="FileType" name="File" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="DirectoryType" name="Directory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnumerationResultsType">
    <xs:sequence>
      <xs:element type="EntriesType" name="Entries"/>
      <xs:element type="xs:string" name="NextMarker"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ServiceEndpoint"/>
    <xs:attribute type="xs:string" name="ShareName"/>
    <xs:attribute type="xs:string" name="DirectoryPath"/>
  </xs:complexType>
</xs:schema>